@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #cfcfcf;
}

header {
    background-color: #595d62;
    padding: 2px;
}

.navbar img {
    width: 200px;
}

.navbar li, .navbar a, .navbar button {
    font-size: 18px;
    color: #fafafa;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    background-color: #36383b;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 31px 30px;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    background-color: #69696957;
    color: rgb(192, 241, 235);
}

.navbar button {
    padding: 10px 15px;
    background-color: #548b9c;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.navbar button:hover {
    background-color: #548b9ca6;
}